html, body, #root, .App{
  background-color: #001560;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.MuiGrid-root {
  height: 100%;
  width: 100%
}
.MuiButtonBase-root {
  min-width: 30px !important;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
  background-color: white;
}

.Results {
  background-color: white;
  /* margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px; */
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* added code, makes it so it doesnt become too big and is centered on the page  */
  max-width: 70%;
  margin: 0px auto;
  margin-top: 20px;
}

.Equipment {
  width: 100px; /* Set the desired width for the cards */
  display: inline-block;
  background-color: grey;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 8px;
  color: white;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.EquipmentTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS classes for table cells */
.table td, .table th {
  padding: 1rem; /* Set the desired padding for cells */
  text-align: center; /* Set the desired text alignment for cells */
}


.optionBox  {
  color: black;
  text-align: left;
}
.tooltip2 {
  position: relative;
  display: inline-block;
  z-index: 10000;

}

.tooltip2 .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;
  width: 100px;

  left: 50%;
  margin-left: -80px;
  position: absolute;
  z-index: 100;
}

.tooltip2 .tooltiptext-2 {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  z-index: 100;
}

.tooltip2:hover .tooltiptext {
  visibility: visible;
  bottom: -70%;
}
.tooltip2:hover .tooltiptext-2 {
  visibility: visible;
  bottom: -30%;
}

.BigCard{
  /* Big Card */
  box-sizing: border-box;
  width: -var(--width);

  background-image: var(--backgroundImage);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 350px;
  min-height: 379px;

  color: black;
  padding: 5% 5% 5%;
  gap: 15%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  border: 1px solid #000000;
  border-radius: 78px;

}

.BigCard:hover {
  cursor: pointer;
}

.main-screen-temp {
  /* Main Screen Temp */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 54px;
  color: -var(--color);
}

.main-screen-condition {
  /* Main Screen Temp */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 54px;
  color: -var(--color);
}

.small-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.small-text-bold {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.title {
  /* Title */
  font-family: 'Inder';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

#container {
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#inner {
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.child {
  float: left;
  width: --var(--width)
}
/* added code, make sure it takes up the full width, seperates it from other
elements */
@media (max-width: 768px) {
  .Results {
    max-width: 70%;
    font-size: 0.8em;
  }
}

@media (max-width: 0px) {
  .Results {
    max-width: 100%;
    font-size: 0.7em;
  }
}