body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.optionBox{
  color: black;
  text-align: left;
}

.bigCard{
  /* Big Card */
  box-sizing: border-box;
  width: 854px;
  height: 471px;
  
  background-image: var(--backgroundImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  
  display: flex;
  flex-direction: column;

  color: black;
  padding: 55px 47px 29px;
  gap: 71px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  border: 1px solid #000000;
  border-radius: 78px;

  width:50%;
}

mainScreenTemp {
  /* Main Screen Temp */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 54px;
}

smallTextBold {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

smallText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

#container {
  overflow: hidden;
}

#inner {
  overflow: hidden;
}

.child {
  float: left;
  width: 25%
}